{{ define "body_classes" }}page-contact{{ end }}

{{ define "main" }}
<div class="wave-cta">
  <div class="container text-center text-white-base">
    <h1>{{.Title}}</h1>
  </div>
  <figure class="wave-cta-bottom-divider"></figure>
</div>
<div class="container">
  <div class="grid-2">
      <div>
        {{.Content}}
        <div class="mb-2">
          {{ partial "call.html" (dict "site" .Site "context" . "show_button" "false") }}
        </div>
        {{ partial "contact-form.html" }}
      </div>
      <div class="ml-auto google-maps mb-2">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d179033.33196155244!2d-122.643238!3d45.4819736!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x314502690e4e3fad!2sWest-Tech%20Air!5e0!3m2!1sen!2sus!4v1666369919322!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
  </div>
</div>
{{ end }}