@use "base";
@use "utilities";
@use "components";
@use "layout";


// General
.text-center {
  text-align: center;
}

.ml-auto {
  margin-left: auto;
}

.mb-5 {
  margin-bottom: 5em;
}

.img-contain {
  object-fit: contain;
  width: 100%;
}

.p-3 {
  padding: 3em;
}
.pb-5 {
  padding-bottom: 5em;
}