<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
  {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

  {{ range .AlternativeOutputFormats }}
      <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end }}

  {{ partial "google-fonts.html" . }}

  <!-- CSS-->
  {{ if .Site.IsServer }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
  <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
  {{ else }}
  {{ $style := resources.Get "scss/style.scss" | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
  <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
  {{ end }}

  {{ block "header_css" . }}{{ end }}

  <script type="application/ld+json">
    {
    "@context": "https://schema.org/",
    "@type": ["LocalBusiness","Service", "HVACBusiness"],
        "name": "West-Tech Air",
        "telephone": "503-805-7715",
        "openingHours": "Mo-Fri 07:00-17:00",
        "logo": "https://westtechair.com/images/logo/west-tech-air.png",
        "image": "https://westtechair.com/images/logo/west-tech-air.png",
        "url": "https://westtechair.com",
        "priceRange" : "$$$",
        "areaServed" : [
            {"@type" : "Place",
                        "name": ["Clackamas, Oregon"]
            },
            {"@type" : "Place",
                        "name": ["Gladstone, Oregon"]
            },
            {"@type" : "Place",
                        "name": ["Happy Valley, Oregon"]
            },
            {"@type" : "Place",
                        "name": ["Lake Oswego, Oregon"]
            },
            {"@type" : "Place",
                        "name": ["Milwaukie, Oregon"]
            },
            {"@type" : "Place",
                    "name": ["Oregon City, Oregon"]
            },
            {"@type" : "Place",
                    "name": ["Portland, Oregon"]
            },
            {"@type" : "Place",
                    "name": ["Tualatin, Oregon"]
            },

        ],
        "address" : {
        "@type" : "PostalAddress",
        "streetAddress" : "",
        "addressLocality" : "Portland",
        "addressRegion" : "OR",
        "postalCode" : "97267"
        },
        "description": "Looking for heating and cooling services? West Tech Air is a fully licensed and insured HVAC service company. We are dedicated to providing top-quality service to our customers. Our qualified technicians have years of experience providing heating and cooling services for Portland, OR businesses and homeowners."
    }
    </script>
{{ block "schema" . }}
{{ end }}
{{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}
{{- $url := replace .Permalink ( printf "%s" ( "/" | absLangURL ) ) "" -}}

{{- $.Scratch.Add "path" ( "/" | absLangURL ) -}}
{{- $.Scratch.Add "breadcrumb" (slice (dict "url" ( "/" | absLangURL ) "name" "home" "position" 1 )) -}}
{{- range $index, $element := split $url "/" -}}
{{- $.Scratch.Add "path" $element -}}
{{- $.Scratch.Add "path" "/" -}}
{{- if ne $element "" -}}
{{- $.Scratch.Add "breadcrumb" (slice (dict "url" ($.Scratch.Get "path") "name" . "position" (add $index 2))) -}}
{{- end -}}
{{- end -}}
<script type="application/ld+json">
    {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {{ range $.Scratch.Get "breadcrumb" }}
        {{ if ne .position 1 }},
    {{ end }}
    {
            "@type": "ListItem",
            "position": {{ .position }},
            "item": {
            "@id": "{{ .url }}",
            "name": "{{ .name }}"
            }
        }{{ end }}]
    }
    </script>

</head>

<body class='page {{ block "body_classes" . }}{{ end }}'>
  {{/*  {{ partial "main-menu-mobile.html" . }}  */}}
  {{ partial "header.html" . }}
  <main>
    {{ block "main" . }}
    {{ end }}
  </main>

  <footer class="bg-black-base text-white-base">
    <div class="container">
      {{ partial "footer.html" . }}
      {{ partial "sub-footer.html" . }}
    </div>
  </footer>

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ block "footer_js" . }}
  {{ end }}

  {{ if hugo.IsProduction }}
    {{ $scripts = $scripts | minify | fingerprint }}
  {{ end }}
  <script type="text/javascript" src="{{ $scripts.RelPermalink }}"></script>

  {{ partial "google-tag-manager.html" . }}
  {{ partial "google-analytics.html" . }}
</body>

</html>
