@use "sass:map";

// blues
$blue: 					#2F8ABC;
$blue-dark: 		#1A4C67;

// reds
$red: 					#FF4D4D;

// blacks
$black:					#4F4A4A;

// grays
$gray: 					#666666;

// white
$white:					#ffffff;

$colors: (
	"blue": (
		"base": $blue,
		"dark": $blue-dark
	),
	"red": (
		"base": $red
	),
	"black": (
		"base": $black
	),
	"gray": (
		"base": $gray
	),
	"white": (
		"base": $white
	)
)