.logo {
  max-width: 200px;
}
.navbar {
  border-bottom: 1px solid var(--clr-gray-light-gray);
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;
  justify-content: space-between;
}

.push-left {
  margin-left: auto;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0
}

//Menu
.hamburger {
  background: transparent;
  border: none;
  cursor: pointer;
  display: none;
  outline: none;
  height: 30px;
  position: relative;
  width: 30px;
  z-index: 10000;
  @media screen and (max-width: 768px) {
    display: inline-block;
  }
  
  &-line {
    background: var(--clr-green-light);
    height: 3px;
    position: absolute;
    left: 0;
    transition: all .2s ease-out; 
    width: 100%;
    
    .hamburger:hover & {
      background: var(--clr-green-light);
    }
    
    &-top {
      top: 3px;
    }
    
    .menuActive &-top {
      top: 50%;
      transform: rotate(45deg) translatey(-50%);
    }
    
    &-middle {
      top: 50%;
      transform: translatey(-50%);
    }
    
    .menuActive &-middle {
      left: 50%;
      opacity: 0;
      width: 0;
    }

    &-bottom {
      bottom: 3px;
    }

    .menuActive &-bottom {
      bottom: 50%;
      transform: rotate(-45deg) translatey(50%);
    }
  }
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: all .25s ease-in; 
  
  @media screen and (max-width: 768px) {
    background: var(--clr-gray-light-gray);
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    transform: translatey(-100%);
    text-align: center;
    
    .menuActive & {
      transform: translatey(0%);  
      opacity: 1;
      z-index: 9999;
    }
  }
  
  .menu-item a {
    color: var(--clr-navy-base);
    --font-weight: 600;
    text-decoration: none;
    display: flex;
    padding: 15px 20px;
    position: relative;

    &:after{
      background: none repeat scroll 0 0 transparent;
      bottom: 0;
      content: "";
      display: block;
      height: 2px;
      left: 50%;
      position: absolute;
      background: var (--clr-green-light);
      transition: width 0.3s ease 0s, left 0.3s ease 0s;
      width: 0;
    }

    &:hover:after { 
      width: 100%; 
      left: 0; 
    }
    
    @media screen and (max-width: 768px) {
      font-size: 20px;
      margin: 8px;
      justify-content: center;

    }
  }
}

.sub-nav {
    border-top: 1px solid var (--clr-green-light);
    display: none;
    position: absolute;
    background-color: var(--clr-gray-light-gray);
    padding: 5px 5px;
    list-style: none; 
    width: auto;   
    background: var(--clr-gray-light-gray);
    @media screen and (max-width: 768px) {
      position: relative;
      width: 100%;
      //display: none;
      background-color: lighten(#ccc, 15%);
      box-sizing: border-box;
      display: block;
      z-index: 1;
    }
}

 .nav__link {
   &:hover + .sub-nav {
        display:block;
        z-index: 1;
 }
}

.sub-nav {
  &:hover {
    display:block;
    z-index: 1;
  }
}

.dropdown a svg {
  position: relative;
  display: flex;
  align-self: center;
  margin-left: .5em;
}