<form class="contact-form form mb-5" name="contact" data-netlify="true" netlify-honeypot="bot-field" method="POST">
	<div class="form-control">
		<input class="form-input" placeholder="none" type="text" name="name" id="the-name" required>
		<label class="form-label" for="the-name">Your Name</label>
	</div>
	<div class="form-control">
		<input class="form-input" placeholder="none" type="email" name="email" id="the-email" required>
		<label class="form-label" for="the-email">Email Address</label>
	</div>
	<div class="form-control">
		<input class="form-input" placeholder="none" type="tel" name="phone" id="the-phone" required>
		<label class="form-label" for="the-phone">Phone Number</label>
	</div>
	<div class="form-control">
		<textarea class="form-input" placeholder="none" rows="4" name="message" id="the-message" required></textarea>
		<label class="form-label" for="the-message">Message</label>
	</div>
	<div class="mt-5">
		<input class="btn" type="submit" value="Send Message">
	</div>
</form>