<nav id="main-menu-mobile">
  {{ partial "hamburger.html" . }}
  <ul id="primary-menu" class="menu nav-menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="menu-item dropdown {{ if or (eq .Pre .URL) (eq .URL $currentPage.RelPermalink) }}active{{ end }}">
        <a class="nav__link" href="{{.URL | relURL }}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
        <ul class="sub-nav">
          {{ range .Children }}
          <li class="menu-item {{ if or (eq .Pre .URL) (eq .URL $currentPage.RelPermalink) }}active{{ end }}">
            <a class="nav__link" href="{{.URL | relURL }}">
              {{ .Pre }}
              <span>{{ .Name }}</span>
            </a>
          </li>
          {{ end }}
        </ul>
      </li> 
    {{ else }}
    <li class="menu-item {{ if or (eq .Pre .URL) (eq .URL $currentPage.RelPermalink) }}active{{ end }}">
      <a class="nav__link" href="{{.URL}}">
        {{ .Pre }}
        <span>{{ .Name }}</span>
      </a>
    </li>
    {{end}}
    {{end}}
    </ul>
</nav>
