.container {
	padding: 0 1.5rem;
	max-width: 90rem;
	margin: 0 auto;
}

.container-sm {
	padding: 0 1.5rem;
	max-width: 65rem;
	margin: 0 auto;
}

.container-xs {
	padding: 0 1.5rem;
	max-width: 48rem;
	margin: 0 auto;
}